! Colors
#include "/home/steef/.colors/trilby"

! Large screen, large cursor
Xcursor.theme: Vanilla-DMZ
Xcursor.size: 24

! XTerm
xterm.termName: xterm-256color
xterm.locale: true
xterm.saveLines: 8192
xterm*faceName: xft:Inconsolata:pixelsize=13:style=Mono
xterm*faceSize: 9

! URxvt
URxvt.fading: 0
URxvt.font: xft:Inconsolata:pixelsize=14:style=Mono
URxvt.letterSpace: -1
URxvt.saveLines: 8192
URxvt.scrollBar: false
URxvt.skipBuiltinGlyphs: true
URxvt.internalBorder: 4

! Disable Perl extensions
URxvt.perl-ext-common:
URxvt.perl-ext:
